@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body::-webkit-scrollbar {
  display: none;
}

.LoginContainer {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_upper {
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 0 15%;
}

.SignInButton {
  /* width: 116px; */
  padding: 0 34px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid var(--eceef-5, #eceef5);
  background: var(--ffffff, #fff);
  color: var(--8083-a-3, #8083a3);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.signInfo {
  /* width: 371px; */
  margin-top: 131px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.signInfo > span:first-of-type {
  color: var(--1-a-1-c-1-d-primary, #1a1c1d);
  text-align: center;
  font-family: "Lato";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signInfo > span:last-of-type {
  color: var(--8083-a-3, #8083a3);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  justify-content: center;
}

form {
  margin-top: 53px;
}

.SingUpCloseInput {
  width: 420px;
  height: 72px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--outline-eceef-5, #eceef5);
}

.SingUpCloseInput > label,
.countryLabel {
  color: var(--8083-a-3, #8083a3);
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.SingUpCloseInput > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SingUpCloseInput > div:first-of-type > input {
  color: var(--1-a-1-c-1-d-primary, #1a1c1d);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  outline: none;
  line-height: normal;
  border: none;
  width: 90%;
  height: 19px;
  box-shadow: inset 0 0 20px 20px #fff;
}

/* .SingUpCloseInput > div:first-of-type > input:-webkit-autofill,
.SingUpCloseInput > div:first-of-type > input:-webkit-autofill:hover, 
.SingUpCloseInput > div:first-of-type > input:-webkit-autofill:focus, 
.SingUpCloseInput > div:first-of-type > input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #1a1c1d;
    box-shadow: inset 0 0 20px 20px #fff;
} */

.SingUpCloseInput > div:first-of-type > input::placeholder {
  color: var(--8083-a-3, #8083a3);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.SignUpClose {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxInput {
  width: 100%;
  height: 93px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.checkboxInput > .firstLabel {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f0f0f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CircleInsideCheckbox {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--ffffff, transparent);
}
.checkboxInput > input[type="checkbox"] {
  display: none;
}

.checkboxInput > input:checked + .firstLabel {
  background: var(--6-b-59-cc-primary, #6a59cc);
}

.checkboxInput > input:checked + .firstLabel > div {
  background: var(--ffffff, #fff);
}

.checkboxInput > label:last-of-type,
.templateOption > div:first-of-type > div:first-of-type > span:first-of-type {
  color: var(--8083-a-3, #8083a3);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  user-select: none;
}

.bigPurplebutton {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: var(--6-b-59-cc-primary, #6b59cc);
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.orDiv {
  width: 192px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}

.orDiv > div {
  width: 72px;
  height: 1px;
  stroke-width: 1px;
  background-color: #eee;
  /* border: 1px solid #eee; */
}

.orDiv > span {
  color: var(--8083-a-3, #8083a3);
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.LoginCarts {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 15px;
  border-radius: 10px;
  border: 1px solid var(--eceef-5, #eceef5);
  background: var(--ffffff, #fff);
  padding-left: 18px;
  justify-content: flex-start;
  align-items: center;
}

.LoginCarts > img {
  width: 22px;
  height: 22px;
}

.LoginCarts > div {
  width: 1px;
  height: 100%;
  background-color: #eee;
}

.LoginCarts > span {
  color: var(--8083-a-3, #8083a3);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cartContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  gap: 8px;
  margin-bottom: 142px;
}

.TwoInputTogether {
  display: flex;
  gap: 28px;
}

.TwoInputTogether div {
  width: 50%;
}
.TwoInputTogether div > div:first-of-type {
  width: 100%;
}

.SignUpLong {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 12px;
}

.SignUpLongMainDiv > button {
  margin-bottom: 195px;
}

.SignUpFinish {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 204px;
  gap: 4px;
}

.SignUpFinish > span {
  color: var(--8083-a-3, #8083a3);
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.SignUpFinish > span:first-of-type {
  color: var(--1-a-1-c-1-d-primary, #1a1c1d);
  text-align: center;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  margin-top: 40px;
}

.SignUpFinish > button {
  margin-top: 40px;
}

.buttonInsideFinish {
  color: var(--6-b-59-cc-primary, #6b59cc);
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background-color: transparent;
}

.GoToHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 277px;
}

.navbar.navbarLong {
  width: 270px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  border-right: 1px solid var(--outline-eceef-5, #eceef5);
}

.navbarLong > img {
  height: 40px;
  width: 137px;
  /* margin-left: 19.5px; */
  margin-left: 17.5px;
}

.navbarComponentLong {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 18px;
  padding-left: 19.5px;
}

.navbarComponentLong > img {
  width: 22px;
  height: 22px;
}

.imgDiv {
  width: 40px;
  height: 40px;
  /* border-radius: 8px;
  border: 1px solid var(--outline-eceef-5, #eceef5);
  background: var(--ffffff, #fff); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarText {
  margin-top: 119px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.navbarComponentLong > span {
  color: var(--8083-a-3, #8083a3);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.navlink {
  text-decoration: none;
}

.active-class {
  text-decoration: none;
}
.active-class > div > div > img {
  filter: brightness(0) invert(29%) sepia(83%) saturate(6602%)
    hue-rotate(243deg) brightness(95%) contrast(88%);
}
.active-class > div > span {
  color: var(--1-a-1-c-1-d-primary, #1a1c1d);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.active-class-closed {
  text-decoration: none;
}
.active-class-closed > div > div > img {
  filter: brightness(0) invert(29%) sepia(83%) saturate(6602%)
    hue-rotate(243deg) brightness(95%) contrast(88%);
}

.active-class > div {
  background: #f8f9fc;
}

.active-class-closed > div {
  background: transparent;
}

.active-class-closed > div > div {
  border-radius: 8px;
  border: 1px solid var(--outline-eceef-5, #eceef5);
  background: var(--ffffff, #fff);
}

.active-class > div > div {
  border-radius: 8px;
  border: 1px solid var(--outline-eceef-5, #eceef5);
  background: var(--ffffff, #fff);
}

.navbar.navbarShort {
  width: 84px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
  border-right: 1px solid var(--outline-eceef-5, #eceef5);
}

.navbarShort > div {
  width: 100%;
}
.navbarShort > img {
  width: 44px;
  height: 40px;
}

/* .navbar{
  transition: width 0.3s ease-in-out;
}

.navbar >div > span {
  transition: opacity 0.3s ease 0.2s; 
}

.navbar.navbarLong >div>span {
  opacity: 1;
}
.navbar.navbarShort >div>span {
  opacity: 0;
} */

.MainDivOfDashboard {
  width: 100%;
  display: flex;
}

.RightPartofNavbar {
  /* border: 1px solid blue; */
  width: 100%;
}

.upperNavbar {
  height: 84px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  border-bottom: 1px solid #eceef5;
}

.leftPart {
  display: flex;
  gap: 15px;
  position: relative;
  align-items: center;
}

.leftPart > img {
  width: 40px;
  height: 40px;
}

.leftPart > span {
  color: var(--1-a-1-c-1-d-primary, #1a1c1d);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.rightPart {
  /* height: 40px; */
  display: flex;
  gap: 8px;
}

.search_area {
  display: flex;
  align-items: center;
}

.searchLabelClosed {
  border-radius: 10px;
  border: 1px solid var(--outline-eceef-5, #eceef5);
  background: var(--ffffff, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.searchLabelOpen {
  background: linear-gradient(
      0deg,
      rgba(77, 76, 172, 0.1) 0%,
      rgba(77, 76, 172, 0.1) 100%
    ),
    #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.searchLabelOpen > img {
  filter: brightness(0) invert(29%) sepia(83%) saturate(6602%)
    hue-rotate(243deg) brightness(95%) contrast(88%);
  user-select: none;
}

.searchClosed {
  outline: none;
  border: none;
  background-color: transparent;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  transition: width 0.3s ease-out, opacity 0.3s ease-out, height 0.3s ease-out;
}

.searchOpen {
  outline: none;
  display: block;
  width: 570px;
  height: 100%;
  border-radius: 9px;
  background: linear-gradient(
      0deg,
      rgba(77, 76, 172, 0.1) 0%,
      rgba(77, 76, 172, 0.1) 100%
    ),
    #fff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  color: var(--6-b-59-cc-primary, #6b59cc);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  padding-left: 19px;
  opacity: 1;
  transition: width 0.5s ease-in, opacity 0.5s ease-in, height 0.4s ease-in;
  user-select: none;
}

.SignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignInContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rememberPart {
  width: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rememberPart > .rememberSpan {
  width: 48%;
  color: var(--6-b-59-cc-primary, #6b59cc);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.recover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strangeImage {
  margin-top: 134px;
}

.Dashboard {
  width: 100%;
  /* height: 100%; */
  /* border: 1px solid red; */
  display: flex;
  gap: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
}

.rightDashboard {
  /* width: 992px; */
  width: 75%;
  /* height: 100%; */
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.leftDashboard {
  width: 25%;
  /* height: 100%; */
  /* border: 1px solid blue; */
}

.rightBelowDashboard {
  height: 586px;
  display: flex;
  gap: 3%;
}
.rightBelowDashboardleft {
  width: 53%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 0 21px 0 21px;
  border-radius: 8px;
  border: 1px solid var(--outline-eceef-5, #eceef5);
  background: var(--ffffff, #fff);
}

.rightBelowDashboardright {
  width: 44%;
  /* border: 1px solid red; */
}
.rightBelowDashboardright > div {
  border: 1px solid black;
  border: 1px solid var(--outline-eceef-5, #eceef5);
  background: var(--ffffff, #fff);
  padding: 0 23px;
}

.event > span {
  color: var(--1-a-1-c-1-d-primary, #1a1c1d);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.event > div {
  display: flex;
  gap: 9px;
}

.event > div > a,
.templateOption > div:first-of-type > div:first-of-type > span:last-of-type {
  color: var(--8083-a-3, #8083a3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
}

.event + span {
  color: var(--8083-a-3, #8083a3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.renderEvent {
  /* border: 1px solid red; */
  width: 100%;
  height: 68px;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.wrapContent {
  border-radius: 6px;
  border: 1px solid var(--outline-eceef-5, #eceef5);
  background: var(--ffffff, #fff);
  width: 48%;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.wrapContent > span {
  color: var(--8083-a-3, #8083a3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
}

.wrapContent:hover {
  background: var(--f-8-f-9-fc, #f8f9fc);
  cursor: pointer;
}
.wrapContent:hover > span {
  color: var(--6-b-59-cc-primary, #6b59cc);
}

.wrapContent:hover > img {
  filter: brightness(0) saturate(100%) invert(41%) sepia(13%) saturate(3844%)
    hue-rotate(215deg) brightness(89%) contrast(90%);
}

.option {
  display: flex;
  justify-content: center;
  position: relative;
}
.option > div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.option > div > button:hover {
  background-color: blue;
  color: white;
}

.option > div > button {
  color: var(--8083-a-3, #8083a3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 100%;
  display: flex;
}

.shortOption {
  display: none;
  width: 100%;
  height: 22px;
}

.shortOption > svg {
  height: 100%;
  aspect-ratio: 1/1;
}

.responsiveNavbar {
  display: none;
  border-radius: 3px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  padding: 5px 0;
}

.active-div > a {
  transform-origin: top;
  transform: scale(0) translateY(-50px);
  margin-bottom: -50px;
}

.non-active-div {
  transition: padding 0.8s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: border 1s ease-in-out, box-shadow 1s ease-in-out;
}

.non-active-div > a {
  transition: transform 0.8s ease-in-out, margin-bottom 0.3s ease-in-out;
  transition-delay: calc(0.1s * var(--i));
  transform: scale(1) translateY(0);
  margin-bottom: 0;
}

.responsiveNavbar > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #6b59cc;
  height: 40px;
  padding: 5px;
  border-radius: 3px;
}
.responsiveNavbar > a:last-of-type {
  border-bottom: 1px solid transparent;
}

.responsiveNavbar > a:hover {
  background-color: #6b59cc;
  backdrop-filter: blur(10px);
  color: white;
}

.activeElement {
  background-color: #6b59cc;
  color: white;
}

.navbarText > button {
  display: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out, transform 500ms ease-in-out;
  transform: translateY(100%);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100%);
}

.mobileNavbar,
.settingTemplate > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
  gap: 11px;
}

.mobileNavbar > img {
  width: 110px;
  height: 110px;
  /* border: 1px solid red; */
  aspect-ratio: 1/1;
}

.mobileNavbar > div,
.settingTemplate > div:first-of-type > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileNavbar > div > span:first-of-type,
.templateName {
  color: var(--1-a-1-c-1-d-primary, #1a1c1d);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}

.mobileNavbar > div > span:nth-of-type(2),
.settingTemplate > div:first-of-type > div > span:nth-of-type(2) {
  color: var(--8083-a-3, #8083a3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.mobileNavFirst {
  width: 100%;
  /* border: 1px solid black; */
  padding: 0 16px 0 31px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobileNavFirst > span {
  color: var(--8083-a-3, #8083a3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.mobileNavFirst > div {
  display: flex;
  flex-direction: column;
}

.mobileNavFirst > div > a {
  height: 56px;
  display: flex;
  gap: 27px;
  align-items: center;
}

.mobileNavFirst > div > a > span {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--8083-a-3, #8083a3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border-bottom: 2px solid #eceef5;
}

.blackActive > img {
  filter: brightness(0%);
}
.blackActive > span {
  color: black !important;
}

.settingTemplate {
  width: 30%;
  height: 100%;
  border-right: 1px solid #eceef5;
}

.templateOption:last-of-type {
  border-bottom: none !important;
}

.templateNavlink > div {
  background-color: #f8f9fc;
}

.templateNavlink > div > div > span:first-of-type,
.templateNavlink > div > img {
  color: #6b59cc !important;
  filter: brightness(0) saturate(100%) invert(41%) sepia(13%) saturate(3844%)
    hue-rotate(215deg) brightness(89%) contrast(90%) !important;
}

.companySetting > span:first-of-type {
  color: var(--1-a-1-c-1-d-primary, #1a1c1d);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
.countrySelect {
  height: 72px;
  width: 45%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.countrySelect > select > option {
  color: var(--1-a-1-c-1-d-primary, #1a1c1d);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.companySetting > div > .SingUpCloseInput {
  width: 45%;
  margin-bottom: 12px;
}

.countryLine {
  border-bottom: 1px solid var(--outline-eceef-5, #eceef5);
}

.buttonPart {
  position: fixed;
  bottom: 10px;
  width: 68%;
  display: flex;
  justify-content: space-between;

}

.buttonPart > div:first-of-type {
  display: flex;
  gap: 8px;
}

.buttonPart > div:first-of-type > button:first-of-type {
  width: 172px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--6-b-59-cc-primary, #6b59cc);
  color: var(--ffffff, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.buttonPart > div:first-of-type > button:last-of-type {
  width: 128px;
  height: 50px;
  flex-shrink: 0;
  color: var(--8083-a-3, #8083a3);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid var(--outline-eceef-5, #eceef5);
  background: var(--ffffff, #fff);
}

.buttonPart > button {
  width: 198px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--outline-eceef-5, #eceef5);
  background: var(--ffffff, #fff);
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--8083-a-3, #8083a3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.companyFormContainer {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

@media only screen and (max-width: 1510px) {
  .wrapContainer {
    gap: 10px;
  }
  .wrapContent {
    width: 48%;
  }
}

@media only screen and (max-width: 1447px) {
  .wrapContainer {
    gap: 5px;
  }
  .wrapContent {
    width: 49%;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1295px) {
  .wrapContainer {
    flex-direction: column;
    height: 175px;
    border: 1px solid black;
    gap: 1px;
  }

  .wrapContent {
    width: 100%;
    height: 21%;
  }
}

@media only screen and (max-width: 1156px) {
  .Dashboard {
    flex-direction: column;
    padding-left: 0px;
  }
  .rightDashboard {
    width: 100%;
  }
  .leftDashboard {
    width: 100%;
  }
  .responsiveDesignContact {
    flex-direction: row;
    height: auto;
  }
  .responsiveContactCard {
    width: 25%;
    height: 180px;
  }
  .option {
    display: none;
    background-color: #6a59cc;
  }
  .shortOption {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .responsivePart {
    width: 220px;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding-top: 3px;
    border-radius: 20px;
    border: 1px solid #eceef5;
  }
  .responsivePart > div:first-of-type {
    width: 70px;
    height: 70px;
    background-size: cover;
  }
  .responsivePart > div:nth-of-type(2) {
    width: 100%;
    border: 1px solid black;
    align-items: center;
  }
  .navbar.navbarLong {
    display: none;
  }
  .navbar.navbarShort {
    display: none;
  }
  .responsiveNavbar {
    position: absolute;
    top: 40px;
    left: 20px;
    display: flex;
    width: 250px;
    flex-direction: column;
    z-index: 100;
  }

  .searchOpen {
    width: 470px;
  }
}

@media only screen and (max-width: 790px) {
  .responsiveNavbar {
    display: none;
  }
  .openNavbar {
    display: none;
  }
  .filterNavbar {
    display: block;
  }

  .upperNavbar {
    padding-left: 16px;
    padding-right: 16px;
  }
  .navbar.navbarLong {
    display: none;
  }

  .Dashboard {
    padding-bottom: 92px;
  }
  .navbar.navbarShort {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: white;
    /* border: 1px solid red; */
    z-index: 2;
    width: 100%;
    height: 94px;
    padding-top: 0px;
    bottom: 0px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    align-items: flex-start;
  }

  .navbarText {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    justify-content: space-evenly;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .active-class-closed > div > div {
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
    border: none;
    background: var(
      --6-b-59-cc-soft,
      linear-gradient(
        0deg,
        rgba(107, 89, 204, 0.1) 0%,
        rgba(107, 89, 204, 0.1) 100%
      ),
      #fff
    );
    border-radius: 4px;
  }

  .rightPart > img {
    display: none;
  }

  .navbar.navbarShort > img {
    display: none;
  }
  .MainDivOfDashboard {
    position: relative;
  }

  .leftPart > span {
    display: none;
  }

  .navbarComponentLong {
    width: 48px;
  }

  .middlePart {
    display: block;
    color: var(--1-a-1-c-1-d-primary, #1a1c1d);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
}

@media only screen and (max-width: 710px) {
  .buttons {
    display: flex;
    border: 1px solid red;
    height: 48px;
  }

  .rightDashboard {
    padding-left: 17px;
    padding-right: 17px;
    gap: 7px;
  }

  .rightBelowDashboard {
    flex-direction: column;
    height: auto;
  }

  .rightBelowDashboardleft {
    width: 100%;
  }

  .rightBelowDashboardright {
    display: none;
  }

  .buttons > button {
    width: 50%;
    color: var(--8083-a-3, #8083a3);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
  }

  .activeButton {
    border-radius: 6px;
    background: #f8f9fc;
    color: var(--6-b-59-cc-primary, #6b59cc) !important;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
  }

  .rightBelowDashboardleft > div:first-of-type {
    display: none;
  }

  .responsivePart > div:first-of-type {
    width: 38px;
    height: 38px;
  }
  .shortOption {
    display: none;
  }

  .contactButton {
    display: block !important;
    color: var(--8083-a-3, #8083a3);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    background-color: #f3f4f9;
    width: 86px;
    height: 36px;
    display: grid;
    place-items: center;
    border-radius: 9px;
  }

  .rightBelowDashboardleft {
    border: none;
    padding: 0;
  }

  .scrollbar {
    max-height: max-content !important;
    height: auto !important;
  }

  .leftDashboard {
    padding: 0 17px;
  }
  .leftDashboard > div:first-of-type {
    display: none;
  }

  .leftDashboard > div:nth-of-type(2) {
    margin-top: 8px;
  }
  .Dashboard {
    gap: 0px;
  }
}

@media only screen and (max-width: 496px) {
  .rightDashboard > img:nth-of-type(2) {
    display: block !important;
    width: 100%;
  }
  .rightDashboard > img:nth-of-type(1) {
    display: none;
  }
  .renderEvent > div:first-of-type > div:nth-of-type(2) > span:nth-of-type(2) {
    display: none;
  }
  .renderEvent > div:first-of-type > div:nth-of-type(2) > span:nth-of-type(1) {
    color: var(--8083-a-3, #8083a3);
  }
  .navbarText > a:nth-last-of-type(-n + 4) {
    display: none;
  }
  .navbarText > button {
    display: block;
  }
}
